header h1.mdl-layout-title {
    font-size: 32px;
    color: white;
}
header h1 span {
    /*color: #ff6e40; */
    /*color: #120aaa; */
    color: #9b0000;
  
}

.profile {
   background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.profile span {
   font-size: 90%;   
}

.avatar {
  width: 96px;
  height: 96px;  
    border-radius: 50%;
    display: block;
}

.page-content {
  margin: 10px;   
}

main header {
    margin: 0;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}
main header h4 {
  margin: 0; 
  font-size: 18px;
}


.card-lesson {
  min-width: 200px;
  min-height: 100px;
}
.card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.card-lesson > .mdl-card__title {
  align-items: flex-start;
}
.card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__title, .card-lesson > .mdl-card__supporting-text, .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  _color: #fff;
}

.inlinesparkline  {width: 70%;}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerImage {
  display: block;
  margin: auto;

}
.searchBtn {
  display:none;
  position:absolute;
  top:45px;
  right:5px;
}

.overflow {
  overflow:auto;
}

.alignLeft th, .alignLeft td{
  text-align:left;
}

.cardWidth {
  width:100%;
}

.logout {
  color: white;
}

.mdl-card__media {
  margin:0;
}
.thumbnails {
  max-width:100%;
  max-height:100%;
}
.fadeIn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #263238;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.thumbContain:hover .fadeIn {
  opacity: 1;
}

#map {
   width: 500px;
   height: 300px;
   background-color: grey;
 }
 
.highlight {
    background-color: #99b3ff;
    border-color: #99b3ff;
}    
.error {
    background: #FFCDD2;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744 url(images/error.png) no-repeat 98% center;    
}

main { 
  background:  url(https://media.giphy.com/media/MIiJ2fJ7l36jS/giphy.gif) no-repeat center center fixed !important; 
  background-size: cover !important;
} 

a {
  color: #22581d;
}

.material-icons.md-48 {
  font-size: 48px;
}